<h1><%= @artist.name %></h1><br>
<%= image_tag @artist.image_path %><br><br>



<%= link_to "<< Back to Artist List", artists_path %><br><br>
<%= link_to "delete", artist_path(@artist), method: :delete %><br><br>
<%= link_to "edit", edit_artist_path(@artist) %>
